.padre{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: all 1s;
    
}

.hijo{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 1s ease-in-out;
    animation: traslacion 1s infinite ease-in-out forwards alternate; /*cambio cuando este el cursor con forwards*/
    
    
}

.padre:hover .hijo{
    /* transform: translatey(50px)translatex(50px);
    background-color: white; */
    animation-play-state:paused;
}


@keyframes traslacion{
    0%{
        background-color: aqua;
        transform: translateX(0%) translateY(0%);
    }
    25%{
        background-color: yellow;
        transform: translateX(100%) translateY(0%);
    }
    50%{
        background-color: green;
        transform: translateX(100%) translateY(100%);
    }
    75%{
        background-color: red;
        transform: translateX(0%) translateY(100%);
    }
    100%{
        background-color: black;
        transform: translateX(0%) translateY(0%);
    }
   
}
    
